In [43]:
import pandas as pd

In [44]:
df = pd.read_csv('coursera_resources/dataset/presidents.csv')
df.columns = [x.lower().strip() for x in df.columns]
df.head()

,#,president,born,age atstart of presidency,age atend of presidency,post-presidencytimespan,died,age
0,1,George Washington,"Feb 22, 1732[a]","57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days"
1,2,John Adams,"Oct 30, 1735[a]","61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days"
2,3,Thomas Jefferson,"Apr 13, 1743[a]","57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days"
3,4,James Madison,"Mar 16, 1751[a]","57 years, 353 daysMar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days","Jun 28, 1836","85 years, 104 days"
4,5,James Monroe,"Apr 28, 1758","58 years, 310 daysMar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days","Jul 4, 1831","73 years, 67 days"

In [45]:
df['first'] = df['president']
df['first'] = df['first'].replace('(\ \w*)$', "", regex=True)
df.head()

,#,president,born,age atstart of presidency,age atend of presidency,post-presidencytimespan,died,age,first
0,1,George Washington,"Feb 22, 1732[a]","57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days",George
1,2,John Adams,"Oct 30, 1735[a]","61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days",John
2,3,Thomas Jefferson,"Apr 13, 1743[a]","57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days",Thomas
3,4,James Madison,"Mar 16, 1751[a]","57 years, 353 daysMar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days","Jun 28, 1836","85 years, 104 days",James
4,5,James Monroe,"Apr 28, 1758","58 years, 310 daysMar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days","Jul 4, 1831","73 years, 67 days",James

In [46]:
del(df['first'])
df.head()

,#,president,born,age atstart of presidency,age atend of presidency,post-presidencytimespan,died,age
0,1,George Washington,"Feb 22, 1732[a]","57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days"
1,2,John Adams,"Oct 30, 1735[a]","61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days"
2,3,Thomas Jefferson,"Apr 13, 1743[a]","57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days"
3,4,James Madison,"Mar 16, 1751[a]","57 years, 353 daysMar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days","Jun 28, 1836","85 years, 104 days"
4,5,James Monroe,"Apr 28, 1758","58 years, 310 daysMar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days","Jul 4, 1831","73 years, 67 days"

In [47]:
def split_name(row):
    first = row['president'].split(" ")[0]
    last = row['president'].split(" ")[-1]
    
    row['first'] = first
    row['last'] = last
    return row

df = df.apply(split_name, axis='columns')
df.head()

,#,president,born,age atstart of presidency,age atend of presidency,post-presidencytimespan,died,age,first,last
0,1,George Washington,"Feb 22, 1732[a]","57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days",George,Washington
1,2,John Adams,"Oct 30, 1735[a]","61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days",John,Adams
2,3,Thomas Jefferson,"Apr 13, 1743[a]","57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days",Thomas,Jefferson
3,4,James Madison,"Mar 16, 1751[a]","57 years, 353 daysMar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days","Jun 28, 1836","85 years, 104 days",James,Madison
4,5,James Monroe,"Apr 28, 1758","58 years, 310 daysMar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days","Jul 4, 1831","73 years, 67 days",James,Monroe

In [48]:

del(df['last'])
df.head()

,#,president,born,age atstart of presidency,age atend of presidency,post-presidencytimespan,died,age,first
0,1,George Washington,"Feb 22, 1732[a]","57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days",George
1,2,John Adams,"Oct 30, 1735[a]","61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days",John
2,3,Thomas Jefferson,"Apr 13, 1743[a]","57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days",Thomas
3,4,James Madison,"Mar 16, 1751[a]","57 years, 353 daysMar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days","Jun 28, 1836","85 years, 104 days",James
4,5,James Monroe,"Apr 28, 1758","58 years, 310 daysMar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days","Jul 4, 1831","73 years, 67 days",James

In [49]:
pattern = '(\w+)(?:\ )(\w+)'

df['president'].str.extract(pattern).head()

        0           1
0  George  Washington
1    John       Adams
2  Thomas   Jefferson
3   James     Madison
4   James      Monroe

In [50]:
pattern = '(?P<first>\w+)(?:\ )(?P<last>\w+)'

names = df['president'].str.extract(pattern)
names.head()

    first        last
0  George  Washington
1    John       Adams
2  Thomas   Jefferson
3   James     Madison
4   James      Monroe

In [51]:
df['first'] = names['first']
df['last'] = names['last']

df.head()

,#,president,born,age atstart of presidency,age atend of presidency,post-presidencytimespan,died,age,first,last
0,1,George Washington,"Feb 22, 1732[a]","57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days",George,Washington
1,2,John Adams,"Oct 30, 1735[a]","61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days",John,Adams
2,3,Thomas Jefferson,"Apr 13, 1743[a]","57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days",Thomas,Jefferson
3,4,James Madison,"Mar 16, 1751[a]","57 years, 353 daysMar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days","Jun 28, 1836","85 years, 104 days",James,Madison
4,5,James Monroe,"Apr 28, 1758","58 years, 310 daysMar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days","Jul 4, 1831","73 years, 67 days",James,Monroe

In [52]:
pattern = '([\w]{3}\ [\w]{2},\ [\w]{4})'
df['born'] = df['born'].str.extract(pattern)
df.head()

,#,president,born,age atstart of presidency,age atend of presidency,post-presidencytimespan,died,age,first,last
0,1,George Washington,"Feb 22, 1732","57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days",George,Washington
1,2,John Adams,"Oct 30, 1735","61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days",John,Adams
2,3,Thomas Jefferson,"Apr 13, 1743","57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days",Thomas,Jefferson
3,4,James Madison,"Mar 16, 1751","57 years, 353 daysMar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days","Jun 28, 1836","85 years, 104 days",James,Madison
4,5,James Monroe,"Apr 28, 1758","58 years, 310 daysMar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days","Jul 4, 1831","73 years, 67 days",James,Monroe

In [53]:
df['born'] = pd.to_datetime(df['born'])
df.head()

,#,president,born,age atstart of presidency,age atend of presidency,post-presidencytimespan,died,age,first,last
0,1,George Washington,1732-02-22,"57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days",George,Washington
1,2,John Adams,1735-10-30,"61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days",John,Adams
2,3,Thomas Jefferson,1743-04-13,"57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days",Thomas,Jefferson
3,4,James Madison,1751-03-16,"57 years, 353 daysMar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days","Jun 28, 1836","85 years, 104 days",James,Madison
4,5,James Monroe,1758-04-28,"58 years, 310 daysMar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days","Jul 4, 1831","73 years, 67 days",James,Monroe

In [54]:
del(df['president'])

In [55]:
df.head()

,#,born,age atstart of presidency,age atend of presidency,post-presidencytimespan,died,age,first,last
0,1,1732-02-22,"57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days",George,Washington
1,2,1735-10-30,"61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days",John,Adams
2,3,1743-04-13,"57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days",Thomas,Jefferson
3,4,1751-03-16,"57 years, 353 daysMar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days","Jun 28, 1836","85 years, 104 days",James,Madison
4,5,1758-04-28,"58 years, 310 daysMar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days","Jul 4, 1831","73 years, 67 days",James,Monroe

In [64]:
import re
pattern = '(\w* years, \w* \w{4})(.*)'

df['age atstart of presidency']

0      57 years, 67 daysApr 30, 1789
1      61 years, 125 daysMar 4, 1797
2      57 years, 325 daysMar 4, 1801
3      57 years, 353 daysMar 4, 1809
4      58 years, 310 daysMar 4, 1817
5      57 years, 236 daysMar 4, 1825
6      61 years, 354 daysMar 4, 1829
7       54 years, 89 daysMar 4, 1837
8       68 years, 23 daysMar 4, 1841
9        51 years, 6 daysApr 4, 1841
10     49 years, 122 daysMar 4, 1845
11     64 years, 100 daysMar 4, 1849
12     50 years, 183 daysJul 9, 1850
13     48 years, 101 daysMar 4, 1853
14     65 years, 315 daysMar 4, 1857
15      52 years, 20 daysMar 4, 1861
16    56 years, 107 daysApr 15, 1865
17     46 years, 311 daysMar 4, 1869
18     54 years, 151 daysMar 4, 1877
19     49 years, 105 daysMar 4, 1881
20    51 years, 349 daysSep 19, 1881
21     47 years, 351 daysMar 4, 1885
22     55 years, 196 daysMar 4, 1889
23     55 years, 351 daysMar 4, 1893
24      54 years, 34 daysMar 4, 1897
25    42 years, 322 daysSep 14, 1901
26     51 years, 170 daysMar 4, 1909
27      56 years, 66 daysMar 4, 1913
28     55 years, 122 daysMar 4, 1921
29      51 years, 29 daysAug 2, 1923
30     54 years, 206 daysMar 4, 1929
31      51 years, 33 daysMar 4, 1933
32    60 years, 339 daysApr 12, 1945
33     62 years, 98 daysJan 20, 1953
34    43 years, 236 daysJan 20, 1961
35     55 years, 87 daysNov 22, 1963
36     56 years, 11 daysJan 20, 1969
37      61 years, 26 daysAug 9, 1974
38    52 years, 111 daysJan 20, 1977
39    69 years, 349 daysJan 20, 1981
40    64 years, 222 daysJan 20, 1989
41    46 years, 154 daysJan 20, 1993
42    54 years, 198 daysJan 20, 2001
43    47 years, 169 daysJan 20, 2009
Name: age atstart of presidency, dtype: object

KeyError: 'age atstart of presidency'