# Indexing In Pandas

In [17]:
import pandas as pd

df = pd.read_csv('coursera_resources/dataset/Admission_Predict(1).csv', index_col=0)
df.columns = [x.lower().strip() for x in df.columns]
df.head()

,gre score,toefl score,university rating,sop,lor,cgpa,research,chance of admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
5,314,103,2,2.0,3.0,8.21,0,0.65

In [18]:
df['serial number'] = df.index
# Then we set the index to another column
df = df.set_index('chance of admit')
df.head()

,gre score,toefl score,university rating,sop,lor,cgpa,research,serial number
chance of admit,,,,,,,,
0.92,337,118,4,4.5,4.5,9.65,1,1
0.76,324,107,4,4.0,4.5,8.87,1,2
0.72,316,104,3,3.0,3.5,8.00,1,3
0.80,322,110,3,3.5,2.5,8.67,1,4
0.65,314,103,2,2.0,3.0,8.21,0,5

In [19]:
df = df.reset_index()
df.head()

,chance of admit,gre score,toefl score,university rating,sop,lor,cgpa,research,serial number
0,0.92,337,118,4,4.5,4.5,9.65,1,1
1,0.76,324,107,4,4.0,4.5,8.87,1,2
2,0.72,316,104,3,3.0,3.5,8.00,1,3
3,0.80,322,110,3,3.5,2.5,8.67,1,4
4,0.65,314,103,2,2.0,3.0,8.21,0,5

In [22]:
df = pd.read_csv('coursera_resources/dataset/census.csv')
df.columns = [x.lower().strip() for x in df.columns]
df.head()

,sumlev,region,division,state,county,stname,ctyname,census2010pop,estimatesbase2010,popestimate2010,...,rdomesticmig2011,rdomesticmig2012,rdomesticmig2013,rdomesticmig2014,rdomesticmig2015,rnetmig2011,rnetmig2012,rnetmig2013,rnetmig2014,rnetmig2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [23]:
df['sumlev'].unique()

array([40, 50], dtype=int64)

In [24]:
df = df[df['sumlev'] == 50]
df.head()

,sumlev,region,division,state,county,stname,ctyname,census2010pop,estimatesbase2010,popestimate2010,...,rdomesticmig2011,rdomesticmig2012,rdomesticmig2013,rdomesticmig2014,rdomesticmig2015,rnetmig2011,rnetmig2012,rnetmig2013,rnetmig2014,rnetmig2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

In [27]:
col_wanted = ['stname','ctyname','births2010','births2011','births2012','births2013',
                   'births2014','births2015','popestimate2010','popestimate2011',
                   'popestimate2012','popestimate2013','popestimate2014','popestimate2015']
df = df[col_wanted]
df.head()

,stname,ctyname,births2010,births2011,births2012,births2013,births2014,births2015,popestimate2010,popestimate2011,popestimate2012,popestimate2013,popestimate2014,popestimate2015
1,Alabama,Autauga County,151,636,615,574,623,600,54660,55253,55175,55038,55290,55347
2,Alabama,Baldwin County,517,2187,2092,2160,2186,2240,183193,186659,190396,195126,199713,203709
3,Alabama,Barbour County,70,335,300,283,260,269,27341,27226,27159,26973,26815,26489
4,Alabama,Bibb County,44,266,245,259,247,253,22861,22733,22642,22512,22549,22583
5,Alabama,Blount County,183,744,710,646,618,603,57373,57711,57776,57734,57658,57673

In [32]:

df.head(50)

                           births2010  births2011  births2012  births2013  \
stname  ctyname
Alabama Autauga County            151         636         615         574
        Baldwin County            517        2187        2092        2160
        Barbour County             70         335         300         283
        Bibb County                44         266         245         259
        Blount County             183         744         710         646
        Bullock County             39         169         122         132
        Butler County              65         276         241         240
        Calhoun County            317        1382        1357        1309
        Chambers County            81         401         393         404
        Cherokee County            55         221         245         232
        Chilton County            124         565         565         537
        Choctaw County             29         114         110         138
        Clarke County              49         259         292         269
        Clay County                27         153         147         121
        Cleburne County            41         184         183         177
        Coffee County             168         677         622         617
        Colbert County            162         605         623         589
        Conecuh County             34         158         144         152
        Coosa County               21          95         107          86
        Covington County          102         463         412         476
        Crenshaw County            37         166         149         145
        Cullman County            249         996         926         952
        Dale County               173         692         705         646
        Dallas County             130         583         585         511
        DeKalb County             232         903         869         796
        Elmore County             235         967         960         986
        Escambia County           121         486         444         440
        Etowah County             260        1252        1155        1145
        Fayette County             42         186         164         186
        Franklin County           120         419         406         432
        Geneva County              74         320         306         326
        Greene County              38         105         105         105
        Hale County                55         188         201         204
        Henry County               40         188         184         169
        Houston County            323        1332        1338        1250
        Jackson County            144         573         600         557
        Jefferson County         2104        8831        9007        8843
        Lamar County               33         140         141         143
        Lauderdale County         239         950         893         943
        Lawrence County            78         344         374         372
        Lee County                413        1631        1661        1830
        Limestone County          223        1011        1002         976
        Lowndes County             37         148         148         140
        Macon County               65         216         210         177
        Madison County            964        4249        4034        4002
        Marengo County             48         233         251         234
        Marion County              74         291         325         304
        Marshall County           323        1309        1290        1211
        Mobile County            1346        5606        5679        5391
        Monroe County              56         257         246         227

                           births2014  births2015  popestimate2010  \
stname  ctyname
Alabama Autauga County            623         600            54660
        Baldwin County           2186        2240           183193
        Barbour County            260         269            27341
        Bibb County               247         253            22861
        Blount County             618         603            57373
        Bullock County            118         123            10887
        Butler County             267         257            20944
        Calhoun County           1355        1335           118437
        Chambers County           421         429            34098
        Cherokee County           261         250            25976
        Chilton County            586         561            43665
        Choctaw County            119         127            13841
        Clarke County             249         247            25767
        Clay County               164         149            13880
        Cleburne County           186         185            14973
        Coffee County             614         616            50177
        Colbert County            587         573            54514
        Conecuh County            140         146            13208
        Coosa County               96          91            11758
        Covington County          441         449            37796
        Crenshaw County           131         138            13853
        Cullman County            977         960            80473
        Dale County               667         653            50358
        Dallas County             584         572            43803
        DeKalb County             839         833            71142
        Elmore County             934         948            79465
        Escambia County           429         438            38309
        Etowah County            1182        1168           104442
        Fayette County            198         186            17231
        Franklin County           429         434            31734
        Geneva County             287         299            26795
        Greene County             101          99             9001
        Hale County               186         187            15735
        Henry County              168         167            17292
        Houston County           1227        1248           101783
        Jackson County            570         549            53179
        Jefferson County         8621        8639           658116
        Lamar County              132         128            14495
        Lauderdale County         935         958            92747
        Lawrence County           333         339            34305
        Lee County               1860        1900           140782
        Limestone County          993        1015            83163
        Lowndes County            117         118            11275
        Macon County              189         194            21545
        Madison County           4128        4185           336138
        Marengo County            260         257            20942
        Marion County             305         301            30800
        Marshall County          1226        1214            93146
        Mobile County            5655        5585           413332
        Monroe County             201         197            22982

                           popestimate2011  popestimate2012  popestimate2013  \
stname  ctyname
Alabama Autauga County               55253            55175            55038
        Baldwin County              186659           190396           195126
        Barbour County               27226            27159            26973
        Bibb County                  22733            22642            22512
        Blount County                57711            57776            57734
        Bullock County               10629            10606            10628
        Butler County                20673            20408            20261
        Calhoun County              117768           117286           116575
        Chambers County              33993            34075            34153
        Cherokee County              26080            26023            26084
        Chilton County               43739            43697            43795
        Choctaw County               13593            13543            13378
        Clarke County                25570            25144            25116
        Clay County                  13670            13456            13467
        Cleburne County              14971            14921            15028
        Coffee County                50448            51173            50755
        Colbert County               54443            54472            54471
        Conecuh County               13121            12996            12875
        Coosa County                 11348            11195            11059
        Covington County             38060            37818            37830
        Crenshaw County              13896            13951            13932
        Cullman County               80469            80374            80756
        Dale County                  50109            50324            49833
        Dallas County                43178            42777            42021
        DeKalb County                71387            70942            70869
        Elmore County                80012            80432            80883
        Escambia County              38213            38034            37857
        Etowah County               104236           104235           103852
        Fayette County               17062            16960            16857
        Franklin County              31729            31648            31507
        Geneva County                26832            27006            26752
        Greene County                 8910             8835             8706
        Hale County                  15364            15401            15316
        Henry County                 17407            17249            17206
        Houston County              102422           103355           103610
        Jackson County               53264            53064            52921
        Jefferson County            657779           657704           658913
        Lamar County                 14292            14252            14187
        Lauderdale County            92618            92680            92729
        Lawrence County              34045            33776            33567
        Lee County                  144087           147899           151506
        Limestone County             85557            87321            88870
        Lowndes County               11119            10852            10725
        Macon County                 21269            20479            19852
        Madison County              339574           342696           346720
        Marengo County               20708            20449            20210
        Marion County                30727            30515            30278
        Marshall County              93906            94228            94377
        Mobile County               413062           413750           414121
        Monroe County                22776            22585            22154

                           popestimate2014  popestimate2015
stname  ctyname
Alabama Autauga County               55290            55347
        Baldwin County              199713           203709
        Barbour County               26815            26489
        Bibb County                  22549            22583
        Blount County                57658            57673
        Bullock County               10829            10696
        Butler County                20276            20154
        Calhoun County              115993           115620
        Chambers County              34052            34123
        Cherokee County              25995            25859
        Chilton County               43921            43943
        Choctaw County               13289            13170
        Clarke County                24847            24675
        Clay County                  13538            13555
        Cleburne County              15072            15018
        Coffee County                50831            51211
        Colbert County               54480            54354
        Conecuh County               12662            12672
        Coosa County                 10807            10724
        Covington County             37888            37835
        Crenshaw County              13948            13963
        Cullman County               81221            82005
        Dale County                  49501            49565
        Dallas County                41662            41131
        DeKalb County                71012            71130
        Elmore County                81022            81468
        Escambia County              37784            37789
        Etowah County               103452           103057
        Fayette County               16842            16759
        Franklin County              31592            31696
        Geneva County                26707            26777
        Greene County                 8553             8479
        Hale County                  15131            15068
        Henry County                 17176            17221
        Houston County              104110           104173
        Jackson County               52631            52419
        Jefferson County            660368           660367
        Lamar County                 14050            13886
        Lauderdale County            93063            92596
        Lawrence County              33426            33115
        Lee County                  154426           156993
        Limestone County             90612            91663
        Lowndes County               10555            10458
        Macon County                 19387            19105
        Madison County              350112           353089
        Marengo County               20136            20028
        Marion County                30246            30168
        Marshall County              94356            94725
        Mobile County               414926           415395
        Monroe County                21897            21673

In [39]:
df.loc[ [('Michigan', 'Washtenaw County'),
         ('Michigan', 'Wayne County')] ]

                           births2010  births2011  births2012  births2013  \
stname   ctyname
Michigan Washtenaw County         977        3826        3780        3662
         Wayne County            5918       23819       23270       23377

                           births2014  births2015  popestimate2010  \
stname   ctyname
Michigan Washtenaw County        3683        3709           345563
         Wayne County           23607       23586          1815199

                           popestimate2011  popestimate2012  popestimate2013  \
stname   ctyname
Michigan Washtenaw County           349048           351213           354289
         Wayne County              1801273          1792514          1775713

                           popestimate2014  popestimate2015
stname   ctyname
Michigan Washtenaw County           357029           358880
         Wayne County              1766008          1759335

# The End