# Pandas

In [9]:
import pandas as pd
import numpy as np

In [10]:
students = ['Hardik', 'Niranjan', 'Happy', 'Hello']

pd.Series(students)

0      Hardik
1    Niranjan
2       Happy
3       Hello
dtype: object

In [11]:
s = pd.Series(['Physics', 'Chemistry', 'Mathematics'], index=['Meena', 'Jiska', 'Aparna'])
s

Meena         Physics
Jiska       Chemistry
Aparna    Mathematics
dtype: object

In [12]:
s['Yashita']

KeyError: 'Yashita'

In [ ]:
s.iloc[0], s.iloc[1], s.iloc[2]

In [ ]:
s.loc['Meena'], s.loc['Jiska'], s.loc['Aparna']

In [ ]:
numbers = pd.Series(np.random.randint(1,1000, 10000))

Here we are creating a array using numpy library and then converting it into a pandas Series

In [ ]:
numbers.head()

In [ ]:
len(numbers)

In [ ]:
%%timeit -n 100
total = 0

for number in numbers:
    total += number
average = total/len(numbers)

In [ ]:
%%timeit -n 100
avg_num = numbers.mean()

In [ ]:
%%timeit -n 100
avg_num = numbers.sum()/len(numbers)

In [ ]:
numbers += 2

In [ ]:
numbers.head()

In [ ]:
%%timeit -n 100
for label, value in numbers.iteritems():
    numbers.at[label] = value+2

In [ ]:
numbers.head()

In [ ]:
%%timeit -n 100

s = pd.Series(np.random.randint(1,1000,1000))
s += 2

In [ ]:
%%timeit -n 100

for label, value in s.iteritems():
    s.at[label] = value+2

In [ ]:
record1 = pd.Series({"Name": "Hardik",
                    "Subject": "Physics",
                    "Score": 92})
record2 = pd.Series({"Name": "Niranjan",
                    "Subject": "Chemistry",
                    "Score": 65})
record3 = pd.Series({"Name": "Yash",
                    "Subject": "Mathematics",
                    "Score": 64})

df = pd.DataFrame([record1, record2, record3], index=['school1', 'school2', 'school3'])
df.head()

In [ ]:
!cat coursera_resources/dataset/Admission_Predict.csv

In [ ]:
data = {
    'state' : ['Ohio','Ohio','Ohio','Nevada','Nevada','Nevada'],
    'year' : [2000,2001,2002,2001,2002,2003],
    'pop' : [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]
}

frame = pd.DataFrame(data)

In [ ]:
frame

## From the book

In [ ]:
frame.iloc

In [ ]:
frame = pd.DataFrame(np.arange(12.).reshape(4,3), columns = list('bcd'), index=['Utah', 'Ohio', 'Texas', 'Oregon'])
series = pd.Series(np.arange(3), index = ['b','e', 'f'])

In [ ]:
frame.head()

In [ ]:
series.head()

In [ ]:
series

In [ ]:
frame + series

In [ ]:
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5],
                  [np.nan, np.nan], [0.75, -1.3]],
                 index=['a', 'b', 'c', 'd'],
                 columns=['one', 'two'])
df.head()
print(1.40+7.10+0.75)

In [ ]:
df.idxmin()

In [ ]:
df.sum()

In [ ]:
df.sum(axis=1)

In [ ]:
df.describe()

In [16]:
import pandas_datareader.data as web

all_data = {ticker: web.get_data_yahoo(ticker)
           for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']}

In [17]:
all_data

{'AAPL':                   High         Low        Open       Close       Volume  \
 Date
 2016-01-19   24.662500   23.875000   24.602501   24.165001  212350800.0
 2016-01-20   24.547501   23.355000   23.775000   24.197500  289337600.0
 2016-01-21   24.469999   23.735001   24.264999   24.075001  208646000.0
 2016-01-22   25.365000   24.592501   24.657499   25.355000  263202000.0
 2016-01-25   25.382500   24.802500   25.379999   24.860001  207178000.0
 ...                ...         ...         ...         ...          ...
 2021-01-11  130.169998  128.500000  129.190002  128.979996  100620900.0
 2021-01-12  129.690002  126.860001  128.500000  128.800003   91951100.0
 2021-01-13  131.449997  128.490005  128.759995  130.889999   88636800.0
 2021-01-14  131.000000  128.759995  130.800003  128.910004   90221800.0
 2021-01-15  130.220001  127.000000  128.779999  127.139999  111235300.0

              Adj Close
 Date
 2016-01-19   22.388184
 2016-01-20   22.418295
 2016-01-21   22.304800
 2016-01-22   23.490686
 2016-01-25   23.032082
 ...                ...
 2021-01-11  128.979996
 2021-01-12  128.800003
 2021-01-13  130.889999
 2021-01-14  128.910004
 2021-01-15  127.139999

 [1259 rows x 6 columns],
 'IBM':                   High         Low        Open       Close      Volume  \
 Date
 2016-01-19  132.100006  128.059998  130.110001  128.110001   9979600.0
 2016-01-20  123.989998  118.000000  118.459999  121.860001  16157800.0
 2016-01-21  125.099998  120.580002  121.300003  122.910004   8851600.0
 2016-01-22  124.739998  121.769997  124.669998  122.500000   9238400.0
 2016-01-25  124.230003  121.639999  122.099998  122.080002   5446000.0
 ...                ...         ...         ...         ...         ...
 2021-01-11  129.679993  127.660004  127.949997  128.580002   5602500.0
 2021-01-12  129.850006  127.940002  129.089996  129.210007   3749200.0
 2021-01-13  129.750000  126.459999  129.149994  126.919998   7677700.0
 2021-01-14  130.160004  127.550003  128.020004  128.970001   7503200.0
 2021-01-15  129.240005  127.669998  128.279999  128.389999   4902100.0

              Adj Close
 Date
 2016-01-19  103.052299
 2016-01-20   98.024765
 2016-01-21   98.869408
 2016-01-22   98.539604
 2016-01-25   98.201721
 ...                ...
 2021-01-11  128.580002
 2021-01-12  129.210007
 2021-01-13  126.919998
 2021-01-14  128.970001
 2021-01-15  128.389999

 [1259 rows x 6 columns],
 'MSFT':                   High         Low        Open       Close      Volume  \
 Date
 2016-01-19   51.680000   50.060001   51.480000   50.560001  43564500.0
 2016-01-20   51.380001   49.099998   49.980000   50.790001  63273000.0
 2016-01-21   51.580002   50.299999   51.000000   50.480000  40191200.0
 2016-01-22   52.330002   51.259998   51.410000   52.290001  37555800.0
 2016-01-25   52.650002   51.650002   51.939999   51.790001  34707700.0
 ...                ...         ...         ...         ...         ...
 2021-01-11  218.910004  216.729996  218.470001  217.490005  23047000.0
 2021-01-12  217.100006  213.320007  216.500000  214.929993  23249300.0
 2021-01-13  216.759995  213.929993  214.020004  216.339996  20087100.0
 2021-01-14  217.460007  212.740005  215.910004  213.020004  29480800.0
 2021-01-15  214.509995  212.029999  213.520004  212.649994  31691500.0

              Adj Close
 Date
 2016-01-19   46.137611
 2016-01-20   46.347496
 2016-01-21   46.064606
 2016-01-22   47.716290
 2016-01-25   47.260017
 ...                ...
 2021-01-11  217.490005
 2021-01-12  214.929993
 2021-01-13  216.339996
 2021-01-14  213.020004
 2021-01-15  212.649994

 [1259 rows x 6 columns],
 'GOOG':                    High          Low         Open        Close   Volume  \
 Date
 2016-01-19   709.979980   693.409973   703.299988   701.789978  2268100
 2016-01-20   706.849976   673.260010   688.609985   698.450012  3445000
 2016-01-21   719.190002   694.460022   702.179993   706.590027  2412200
 2016-01-22   728.130005   720.120972   723.599976   725.250000  2011800
 2016-01-25   729.679993   710.010010   723.580017   711.669983  1711700
 ...                 ...          ...          ...          ...      ...
 2021-01-11  1794.314941  1760.520020  1786.069946  1766.719971  1209700
 2021-01-12  1778.040039  1725.310059  1753.920044  1746.550049  1357700
 2021-01-13  1765.035034  1738.010010  1738.579956  1754.400024  1094100
 2021-01-14  1775.010010  1733.400024  1753.619995  1740.180054  1179500
 2021-01-15  1756.000000  1721.550049  1738.189941  1736.189941  1328300

               Adj Close
 Date
 2016-01-19   701.789978
 2016-01-20   698.450012
 2016-01-21   706.590027
 2016-01-22   725.250000
 2016-01-25   711.669983
 ...                 ...
 2021-01-11  1766.719971
 2021-01-12  1746.550049
 2021-01-13  1754.400024
 2021-01-14  1740.180054
 2021-01-15  1736.189941

 [1259 rows x 6 columns]}

In [18]:
price = pd.DataFrame({ticker: data['Adj Close']
                     for ticker, data in all_data.items()})

In [19]:
price.tail()

                  AAPL         IBM        MSFT         GOOG
Date
2021-01-11  128.979996  128.580002  217.490005  1766.719971
2021-01-12  128.800003  129.210007  214.929993  1746.550049
2021-01-13  130.889999  126.919998  216.339996  1754.400024
2021-01-14  128.910004  128.970001  213.020004  1740.180054
2021-01-15  127.139999  128.389999  212.649994  1736.189941

In [22]:
volume = pd.DataFrame({ticker: data['Volume']
                      for ticker, data in all_data.items()})

In [23]:
volume.tail()

                   AAPL        IBM        MSFT     GOOG
Date
2021-01-11  100620900.0  5602500.0  23047000.0  1209700
2021-01-12   91951100.0  3749200.0  23249300.0  1357700
2021-01-13   88636800.0  7677700.0  20087100.0  1094100
2021-01-14   90221800.0  7503200.0  29480800.0  1179500
2021-01-15  111235300.0  4902100.0  31691500.0  1328300

In [24]:
returns = price.pct_change()

In [25]:
returns.tail(50)

                AAPL       IBM      MSFT      GOOG
Date
2020-11-04  0.040837 -0.019797  0.048249  0.059944
2020-11-05  0.035494  0.025648  0.031887  0.008141
2020-11-06 -0.001136 -0.006361  0.001926 -0.000919
2020-11-09 -0.019968  0.027756 -0.023824  0.000710
2020-11-10 -0.003009  0.020601 -0.033793 -0.012825
2020-11-11  0.030353 -0.006022  0.026255  0.007079
2020-11-12 -0.002343 -0.023038 -0.005126 -0.001637
2020-11-13  0.000419  0.020524  0.004967  0.015533
2020-11-16  0.008720  0.012923  0.003326  0.002454
2020-11-17 -0.007564 -0.005576 -0.012751 -0.006304
2020-11-18 -0.011391 -0.007901 -0.013184 -0.013202
2020-11-19  0.005168  0.003511  0.006348  0.009812
2020-11-20 -0.010958 -0.002048 -0.009557 -0.012319
2020-11-23 -0.029743  0.026937 -0.001331 -0.004207
2020-11-24  0.011594  0.036056  0.017848  0.019610
2020-11-25  0.007467 -0.001768  0.000047  0.001442
2020-11-27  0.004826  0.001208  0.006359  0.012284
2020-11-30  0.021100 -0.006675 -0.005390 -0.018096
2020-12-01  0.030827 -0.002914  0.009997  0.021218
2020-12-02  0.002934  0.011854 -0.003885  0.016601
2020-12-03 -0.001137 -0.008105 -0.005247 -0.000645
2020-12-04 -0.005613  0.029043  0.000560  0.000668
2020-12-07  0.012270 -0.019654 -0.000327 -0.004655
2020-12-08  0.005091  0.008099  0.008027 -0.000511
2020-12-09 -0.020904  0.008591 -0.019490 -0.018927
2020-12-10  0.011989 -0.014433 -0.006043 -0.004932
2020-12-11 -0.006735 -0.005522  0.013015  0.003628
2020-12-14 -0.005147 -0.005955  0.004408 -0.012184
2020-12-15  0.050090  0.019428 -0.000327  0.004381
2020-12-16 -0.000547 -0.003018  0.024051 -0.002698
2020-12-17  0.006963  0.000000  0.000638 -0.008565
2020-12-18 -0.015851  0.002389 -0.003783 -0.009663
2020-12-21  0.012395 -0.019547  0.018299  0.004830
2020-12-22  0.028465  0.001783  0.006065 -0.009124
2020-12-23 -0.006976  0.002346 -0.013039  0.005152
2020-12-24  0.007712  0.006376  0.007827  0.003735
2020-12-28  0.035766  0.001043  0.009921  0.021416
2020-12-29 -0.013315 -0.008172 -0.003601 -0.009780
2020-12-30 -0.008527  0.004362 -0.011019 -0.010917
2020-12-31 -0.007703  0.012385  0.003338  0.007105
2021-01-04 -0.024719 -0.015411 -0.021266 -0.013494
2021-01-05  0.012364  0.017750  0.000965  0.007337
2021-01-06 -0.033662  0.024972 -0.025929 -0.003234
2021-01-07  0.034123 -0.002320  0.028457  0.029943
2021-01-08  0.008631 -0.003566  0.006093  0.011168
2021-01-11 -0.023249  0.000389 -0.009699 -0.022405
2021-01-12 -0.001396  0.004900 -0.011771 -0.011417
2021-01-13  0.016227 -0.017723  0.006560  0.004495
2021-01-14 -0.015127  0.016152 -0.015346 -0.008105
2021-01-15 -0.013731 -0.004497 -0.001737 -0.002293