In [2]:
import pandas as pd

df = pd.read_csv('coursera_resources/dataset/Admission_Predict(1).csv', index_col = 0)
df.columns = [x.lower().strip() for x in df.columns]

df.head()

,gre score,toefl score,university rating,sop,lor,cgpa,research,chance of admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
5,314,103,2,2.0,3.0,8.21,0,0.65

In [11]:
admit_mask = df['chance of admit']>0.7
admit_mask

Serial No.
1       True
2      False
3      False
4      False
5      False
       ...
396     True
397     True
398     True
399    False
400     True
Name: chance of admit, Length: 400, dtype: bool

In [15]:
df.where(admit_mask).dropna().head()

,gre score,toefl score,university rating,sop,lor,cgpa,research,chance of admit
Serial No.,,,,,,,,
1,337.0,118.0,4.0,4.5,4.5,9.65,1.0,0.92
6,330.0,115.0,5.0,4.5,3.0,9.34,1.0,0.90
12,327.0,111.0,4.0,4.0,4.5,9.00,1.0,0.84
23,328.0,116.0,5.0,5.0,5.0,9.50,1.0,0.94
24,334.0,119.0,5.0,5.0,4.5,9.70,1.0,0.95

In [16]:
df['gre score'].head()

Serial No.
1    337
2    324
3    316
4    322
5    314
Name: gre score, dtype: int64

In [23]:
new_apple = df[(df['gre score'] > 320) & (df['chance of admit'] > 0.8) & (df['toefl score'] > 115)].head()

In [28]:
for i in new_apple:

SyntaxError: unexpected EOF while parsing (<ipython-input-28-25d534a7de1c>, line 1)